/* styles.css */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:  #35691d59;
  margin: 0;
  overflow: hidden;
}

.cake-container {
  position: relative;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto; 
  padding-top: 50px; 
}

.cake img {
  width: 500px;
  height: auto; 
  max-width: 100%;
}

.flag-container {
  position: absolute;
  top: -100px; 
  left: 50%; 
  transform: translateX(-50%);
  width: 500px; 
  height: auto; 
}

.flag-container img {
  width: 100%; 
  height: auto; 
}

#play-button {
  background-color: purple;
  color: yellow; 
  padding: 10px 100px;
  border: none; 
  cursor: pointer; 
  transition: background-color 0.3s, color 0.3s;
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50px;
}

#play-button:hover {
  background-color: black; 
  color: yellow;
}

@media only screen and (max-width: 600px) {
  .flag-container {
    width: 300px;
    top: -10px; 
  }

  .cake img {
    width: 300px;
    height: auto; 
    max-width: 100%;
  }

  #play-button {
    bottom: 80px;
  }
}